<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="heading mt-4 mb-2 py-1">
                <h4>
                    <%= listing.title %>
                </h4>
            </div>

            <div class="card show-card listing-card" style="width: 40rem; ">
                <img src="<%= listing.image %>" class="card-img-top" style="height: 14rem;" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <li> Owned by : <i> <%= listing.owner.username %> </i> </li>
                        <li>
                            <%= listing.description %>
                        </li>
                        <li> &#8377; <%= listing.price.toLocaleString("en-IN") %>
                        </li>
                        <li>
                            <%= listing.location %>
                        </li>
                        <li>
                            <%= listing.country %>
                        </li>
                    </p>
                </div>
                <div class="show-btn"> <a href="/listing/<%= listing._id %>/edit" class="btn add-btn">Edit</a>
                    <form action="/listing/<%= listing._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-6 offset-3">
            <h4>Leave a Review</h4>
            <form action="/listing/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mt-3 mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input name="review[rating]" type="range" , min="1" , max="5" class="form-range" />
                </div>
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text">Comment</span>
                    <textarea name="review[comment]" cols="30" rows="5" class="form-control" aria-label="Comment"
                        required></textarea>
                    <div class="invalid-feedback">Please write something in the comment section</div>
                </div>
                <button class="btn btn-outline-dark mb-5">Submit</button>
            </form>
            <br>
            <hr>
            <h4> <b> All Reviews </b></h4>

            <ul>
                <div class="review row">
                    <% for(let review of listing.reviews){ %>
                        <div class="card col-5 m-2 p-2">
                            <div class="card-body">
                                <h5 class="card-title">@username</h5>
                                <p class="card-text">Rating :<%= review.rating %> Stars </p>
                                <p class="card-text">
                                    <%= review.comment %>
                                </p>
                                <form action="/listing/<%= listing._id%>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-dark btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                    </div>
            </ul>
        
    </div>
    </div>